body {
    background-color: #f0f0f0; /* Couleur d'arrière-plan */
  }
  .donation-form {
    background-color: #fff; /* Couleur d'arrière-plan du formulaire */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .donation-form h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;

  }
  label, input {
    vertical-align: middle;
  }
  .btn-input{
    height: 25px;
  }
  .btn-group{
   
    background: #FF6B2C;
  }
  .btn-orange{
    background: #FF6B2C;
  }
  .form-check-input{
    height: 25px;
    
   
  }
/* Ajoutez ce style dans votre fichier CSS ou balise <style> si vous utilisez l'en-tête <head> */
.image-container {
  display: flex; /* Utilisez un modèle de boîte flexible pour aligner les images horizontalement */
}

.image-container img {
  margin-right: 10px; /* Ajoutez une marge à droite de chaque image */
}

/* Si vous voulez également de l'espace en bas de chaque image */
.image-container img:not(:last-child) {
  margin-bottom: 10px; /* Ajoutez une marge en bas de chaque image sauf la dernière */
}
span{
  margin-right: 90px;
  font-weight: bold;
  font-size: 24px;
}
