/* styles.css (ou personnel.component.css) */

/* styles.css (ou personnel.component.css) */

.main-container {
    background-color: #f2f2f2; /* Choisissez la couleur d'arrière-plan que vous préférez */
    padding: 20px; /* Ajoutez un peu de rembourrage pour l'espace autour du contenu */
    border-radius: 8px; /* Ajoutez une bordure arrondie si vous le souhaitez */
  }
  
  /* Ajoutez d'autres styles personnalisés selon vos besoins */
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .btn {
    cursor: pointer;
  }
  
  /* Ajoutez d'autres styles personnalisés selon vos besoins */
  