.dash {
    background: rgb(252, 251, 251);
    grid-template-columns: 250px 1fr;
    height: 100vh;
    display: grid;
}


.dash .dash-sidebar{
    height: 163vh;
    width: 340px;
    /* height: 1088px; */
    border-radius: 8px;
    background: rgba(255, 107, 44, 0.68);
    padding: 16px;

}
.dash-navigation  a {
    display: flex;
    /* color: #EEE9E9; */
    text-decoration: none;
    margin-top: 16px;
    /* padding: 16px; */
    color: #EEE9E9;
    gap: 10px;

/* font-family: Inter; */
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
    
}
.logout-button {
    padding: 10px 15px;
    background-color: #d9534f; /* Couleur de fond pour le bouton Logout (rouge pour cet exemple, adaptez selon vos styles) */
    color: #fff; /* Couleur du texte pour le bouton Logout (blanc pour cet exemple, adaptez selon vos styles) */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.dash-navigation a:hover {
    color: black
}
.dash-navigation  a:hover svg path {
    stroke: black
}
.dash-navigation  a svg path {
    Stroke: #EEE9E9
    
}

.logo-img{
    padding: 18px;
    
}
.apres-dashText {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.apres-dashText h1{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.apres-dashText span{

    color: #FF6B2C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.apres-dash{
    width: 250px;
    height: 95px;
    border-radius: 4px;
    border: 1px solid rgba(255, 107, 44, 0.41);
    background: #FFFEFE;
    padding: 16px;
    /* justify-content: center; */
    text-align: center;
}

.parentsDash{
    padding: 16px;
    display: flex;
    gap: 20px;
    margin-left: 123px;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: grid; */
    /* display: inline-block; */
    
   
}
.grand_parents{
    display: flex;
    gap: 20px;
    /* display: block; */
    grid-template-columns: 1fr 1fr ;
    /* display: grid; */
   
   
}
.apres-dash1{
    width: 340px;
    height: 225px;
    border-radius: 4px;
    border: 1px solid rgba(255, 107, 44, 0.41);
    background: #FFF;
    justify-content: center;
    /* text-align: center; */
    padding: 16px;
}
.nomAgenda{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.date{
    color: #656262;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Valider{
    display: flex;
    width: 78px;
    height: 26px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #FF6B2C;
    color: #EEE9E9;
    text-decoration: none;
}
.monprenom{
    display: flex;
    gap: 12px;
    padding: 4px;
}
.heure{
    color: #656262;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    padding: 1px;
    margin-bottom: auto;
}
.grandAgenda{
    margin-top: 200px;
    margin-left: 200px;
}
.apres-dash3{
    width: 160px;
    height: 95px;
    /* padding: 16px; */
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 107, 44, 0.41);
    background: #FFF;
    text-align: center;
}
.apres-dashText1 h1{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.apres-dashText1 span{
    color: #FF6B2C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.apres-dashText1 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.group-hello2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 10px;
    gap: 10px;
    margin-left: 123px;
    padding: 20px;
    
}
.group-hello3 {
   /* background-color: #FF6B2C; */
   margin-left: 30px;
   padding: 50px;
  

}
tbody, td, tfoot, th, thead, tr{
    border-color: #FF6B2C;
    border-bottom-color:#FF6B2C;
    border-style: solid;
    border-width: 0;
}
.hello{
   /* width: 799px;
   height: 690px; */
   border: 1px solid rgba(255, 107, 44, 0.39);
   background: #FFF;
   height: 597px;

}
.apres-dash1 .apres-dashTextGestion h1{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.Gestion {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.Gestion span {
    color: #FF6B2C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.apres-dash1 .Gestiongroup{
   /* justify-content: center;
   text-align: center; */
   margin-left: 90px;
}