<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header">
        <div class="container">
        <div class="header-content">
        <img src="assets/image/logo.svg" class="logo" alt="">
        <div>
            <ul class="main-menu">
                <li><a routerLink="/acceuil">Accueil</a></li>
                <li><a routerLink="/activites">Nos Activites</a></li>
                <li><a routerLink="/propos">A propos</a></li>
                <li><a routerLink="/contact">Nous Contacter</a></li> 
                <li><a routerLink="/dons">Faire Don</a></li>  
            </ul>
        </div>
        </div>
        </div>
        </div>
    </header>
    <div class="jumbo">
        <div class="dasbord">
              <a href="">Personnels</a>
              <a href="">Effectif Total</a>
               <a href="">Les Rendez-vous</a>
               <a href="">Les Demandes</a>
               <a href="">Entrer et Sortis Des Enfants</a>
               <a href="">Listes des Adopteurs</a>
               <a href=""></a>
        </div>
    </div>
    </body>
    </html>
