<!-- <div *ngIf="editingAdopteur" class="container mt-4">
    <h2>Edit Personnel</h2>
    <form (submit)="updateAdopteur()">
        <div class="form-group">
            <div class="form-group">
                <label for="prenom">Prenom:</label>
                <input [(ngModel)]="updatedAdopteur.prenom" name="prenom" required class="form-control">
            </div>
    
            <label for="nom">Nom:</label>
            <input [(ngModel)]="updatedAdopteur.nom" name="nom" required class="form-control">
        </div>

        <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input [(ngModel)]="updatedAdopteur.adresse" name="adrresse" required class="form-control">
        </div>
        

        <div class="form-group">
            <label for="telephone">Telephone:</label>
            <input [(ngModel)]="updatedAdopteur.telephone" name="telephone" required class="form-control">
        </div>


        <div class="form-group">
            <label for="email">Email:</label>
            <input [(ngModel)]="updatedAdopteur.email" name="email" required class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Update Personnel</button>
        <button type="button" (click)="cancelEdit()" class="btn btn-secondary ml-2">Cancel</button>
    </form>
</div> -->


<div *ngIf="" class="container mt-4">
    <h2>Edit Personnel</h2>
    <form (submit)="updateAdopteur()">
        <div class="form-group">
            <div class="form-group">
                <label for="prenom">Prenom:</label>
                <input [(ngModel)]="updatedAdopteur.prenom" name="prenom" required class="form-control">
            </div>
    
            <label for="nom">Nom:</label>
            <input [(ngModel)]="updatedAdopteur.nom" name="nom" required class="form-control">
        </div>

        <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input [(ngModel)]="updatedAdopteur.adresse" name="adresse" required class="form-control">
        </div>
        

        <div class="form-group">
            <label for="telephone">Telephone:</label>
            <input [(ngModel)]="updatedAdopteur.telephone" name="telephone" required class="form-control">
        </div>


        <div class="form-group">
            <label for="email">Email:</label>
            <input [(ngModel)]="updatedAdopteur.email" name="email" required class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Update Personnel</button>
        <button type="button" (click)="cancelEdit()" class="btn btn-secondary ml-2">Cancel</button>
    </form>
</div>
